@(product : model.Product, brand : model.Brand, origin : model.Origin, comments : List[model.Comment])
@defining(session().get("username")) { user =>
@defining(session().get("userid")) { userId =>

@main("Product") {

<h1>@product.getName()</h1>
<hr />

<table class='table table-striped table-bordered'>
	<tr>
		<th>Weight</th>
		<td>@product.getWeight()</td>
	</tr>
	<tr>
		<th>Price</th>
		<td>@product.getPrice()</td>
	</tr>
	<tr>
		<th>Origin</th>
		<td>@origin.getCountryName()</td>
	</tr>
	<tr>
		<th>Brand</th>
		<td>@brand.getName()</td>
	</tr>
	<tr>
		<th></th>
		<td>
			<form class='no-margin form-inline' method='post' action='/product/@product.getId()/like'>
				<button type="submit" class="btn btn-small btn-success" @if(user == null){disabled}>Like</button>
			</form>
		</td>
	</tr>
</table>

@if(user != null) {
	<form class='well form-inline' action="/product/@product.getId()/add" method="post">
		<input type="number" name="quantity" placeholder='Qunantity' />
		<button type="submit" class="btn">Add to shopping cart</button>
	</form>
	
	<hr />
}


<table class='table table-striped table-bordered'>
	<thead>
		<tr>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		@for(comment <- comments) {
			<tr>
				<td>@comment.getText()</td>
			</tr>
		} 
	</tbody>
</table>



@if(user != null) {
	<form action="/product/@product.getId()/comment" method="post">
		<input type="hidden" name="userId" value='@userId' />
		<input type="hidden" name="productId" value='@product.getId()' />
		<label>Leave your comment here:</label>
		<textarea name="text" cols="50" rows="10"></textarea>
		<br />
		<button type="submit" class="btn btn-success">Send</button>
	</form>
} @** if **@
} @** main **@
} @** define userId **@
} @** define user **@
