@(title: String)(content: Html)

<!DOCTYPE html>

<html>
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
	    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
	    
	    <script type="text/javascript" src='/assets/js/html5.js' ></script>
	    <script type="text/javascript" src='/assets/js/jquery-1.7.2.js' ></script>
	    <script type="text/javascript" src='/assets/js/bootstrap.js' ></script>
	    <script type="text/javascript">
	    	$(document).ready(function () {
	    		$(".alert").alert();
	    	});
	    </script>
	    
		<title>Online SuperMarket</title>
	</head>

	<body>

		<!-- Header -->
		<div class='navbar navbar-fixed-top'>
			<div class='navbar-inner'>
				<div class='container'>
					<a class='brand' href='Home'>Shop</a>
					<ul class='nav'>
						<li><a href='Home'>Home</a></li>
						<li><a href='Products'>Products</a></li>
						<li><a href='Recipes'>Recipes</a></li>
					</ul>
					<p class='navbar-text pull-right'>
						<a href='/User'>Login</a>
					</p>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='span3'>
				<div class='well sidebar-nav'>
					<ul class='nav nav-list'>
						<li><a href="Home">Home</a></li>
						<li class='nav-header'>Products</li>
						<li><a href="Products">Search</a></li>
<!-- 						<li><a href="Products?filter=offers">Offers</a></li> -->
						<li><a href="Products?filter=popular">Most Popular</a></li>
						<li class='nav-header'>Recipes</li>
						<li><a href="Recipes">Search</a></li>
						<li class='nav-header'>User</li>
						<li><a href="User">Profile</a></li>
						<li><a href="ShoppingCart">Shopping Cart</a></li>
					</ul>
				</div>
			</div>
			<div class='span9'>
        		@content
			</div>
		</div>
		<footer>
			Database Modeling Project 2012
		</footer>
    </body>
</html>
