@(title: String)(content: Html)

<!DOCTYPE html>

<html>
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
	    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
	    
	    <script type="text/javascript" src='/assets/js/html5.js' ></script>
	    <script type="text/javascript" src='/assets/js/jquery-1.7.2.js' ></script>
	    <script type="text/javascript" src='/assets/js/bootstrap.js' ></script>
	    <script type="text/javascript">
	    	$(document).ready(function () {
	    		$(".alert").alert();
	    	});
	    </script>
	    
		<title>Online SuperMarket</title>
	</head>

	<body>

@defining(session().get("username")) { user =>
		<!-- Header -->
		<div class='navbar navbar-fixed-top'>
			<div class='navbar-inner'>
				<div class='container'>
					<a class='brand' href='/'>Shop</a>
					<ul class='nav'>
						<li><a href='/'>Home</a></li>
						<li><a href='/product'>Products</a></li>
						<li><a href='/recipe'>Recipes</a></li>
					</ul>
					<p class='navbar-text pull-right'>
						<a href='/user'>
							@if(user == null) {
								Login
							} else {
								@user
							}
						</a>
					</p>
				</div>
			</div>
		</div>
}
		<div class='row'>
			<div class='span3'>
				<div class='well sidebar-nav'>
					<ul class='nav nav-list'>
						<li><a href="/">Home</a></li>
						<li class='nav-header'>Products</li>
						<li><a href="/product">Search</a></li>
<!-- 						<li><a href="Products?filter=offers">Offers</a></li> -->
						<li><a href="/product/popular">Most Popular</a></li>
						<li class='nav-header'>Recipes</li>
						<li><a href="/recipe">Search</a></li>
						<li class='nav-header'>User</li>
						<li><a href="/user">Profile</a></li>
						<li><a href="/user/shoppingcart">Shopping Cart</a></li>
					</ul>
				</div>
			</div>
			<div class='span9'>
@if(flash().get("error") != null) {
<div class="alert alert-error">
	<a class="close" data-dismiss="alert">x</a>
	@flash().get("error")
</div>
}
@if(flash().get("success") != null) {
<div class="alert alert-success">
	<a class="close" data-dismiss="alert">x</a>
	@flash().get("success")
</div>
}
@if(flash().get("message") != null) {
<div class="alert alert-info">
	<a class="close" data-dismiss="alert">x</a>
	@flash().get("message")
</div>
}
        		@content
			</div>
		</div>
		<footer>
			Database Modeling Project 2012
		</footer>
    </body>
</html>
